.input {
    width: 80%;
    max-width: 360px;
}
p {
    margin: 15px 0px;
}

 /******* Media queries **********/
/*  Small devices (phones, less than 800px)  */
@media (max-width: 799px) {
    p {
        margin: 0px;
    }
    
}